.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 180px;
}

.valid {
    color:green;
}

.inValid {
    color: red;
}

.friendName {
    font-size: 30px;
}

.friendText {
    font-size: 20px;
}

.img {
    margin-top: 5px;
    width: 75px;
}