.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    width: 800px;
}

.item {
    border: 3px solid black;
    border-radius: 20px;
    height: 180px;
    width: 100px;
}